/* ren and em do not depend of html font-size when dealing with media queries. 
Instead 1rem = 1em = 16px */

/************************/
/* BELOW  */
/************************/

@media (max-width: 79em) {
  .container {
    padding: 0 2.4rem;
  }

  .section-hero {
    grid-template-columns: 2.4rem 1fr 2.4rem;
  }

  .section-about {
    grid-template-columns: 2.4rem 1fr 2.4rem;
  }

  .mission-vision-statements {
    grid-template-columns: 2.4rem 1fr 2.4rem;
  }

  .about-container {
    grid-template-columns: 1fr 0.5fr 1fr;
  }
}

@media (max-width: 70.5em) {
  .memberships img {
    height: 9rem;
  }
}

@media (max-width: 67em) {
  .about-image-1 {
    grid-column: 1 / -1;
  }
  .about-image-2 {
    grid-row: 9 / -1;
  }
}
